<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wonderlust</title>
  </head>
  <body>
    <h3>Edit Listing</h3>
    <form method="post" action="/listings/<%= data._id %>?_method=PUT">
      <input name="listing[title]" value="<%= data.title %>" type="text" />
      <br /><br />
      <textarea name="listing[description]"><%= data.description %></textarea>
      <br /><br />
      <input name="listing[image]" value="<%= data.image.url %>" type="text" />
      <br /><br />
      <input name="listing[price]" value="<%= data.price %>" type="number" />
      <br /><br />
      <input name="listing[country]" value="<%= data.country %>" type="text" />
      <br /><br />
      <input name="listing[location]" value="<%= data.location%>" type="text" />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>
