<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WonderLust</title>
  </head>
  <body>
    <h1>listings Details</h1>

    <ul>
      <li><%= data.title %></li>
      <li><%= data.description %></li>
      <li><%= data.location %></li>
      <li>&#8377;<%= data.price.toLocaleString("en-IN") %></li>
      <li><%= data.country %></li>
    </ul>
  </body>
</html>
