<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col offset-1">
    <h1>listings Details</h1>
    <div class="card" style="width: 20rem">
      <img
        src="<%= data.image.url %>"
        class="card-img-top show-img"
        alt="listing-image"
      />
      <div class="card-body">
        <p><b><%= data.title %></b></p>

        <p class="card-text">
          <%= data.description %> <br />
          &#8377;<%= data.price.toLocaleString("en-IN") %> <br />
          <%= data.location %>
          <br />
          <%= data.country %>
        </p>
      </div>
    </div>

    <form method="post" action="/listings/<%= data.id %>?_method=DELETE">
      <a href="/listings/<%= data.id %>/edit" class="btn edit-btn">Edit</a>
      <button class="btn delete-btn">Delete</button>
    </form>
  </div>
</div>
